<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/styles/product.css">
</head>
<body>
    <header>
        <%- include('../include/menu.ejs', {active: 'shop'}) %>
    </header>
    <h1>
        This is the admin panel of the website
    </h1>
    <!-- Item below comes ftom render function second parameters -->
    <% if(item.length > 0) { %>
    <p>Added Product list goes like this: </p>
    <div class="product-catalog">
        <% for (let i of item) {%>
        <div class="item-card">
            <img height="250px" width="250px" src= "<%= i.image %>" alt="<%= i.title %>" >
            <h2><%= i.title %></h2>
            <p><%= i.description %></p>
            <h1><%= i.price %><span>INR</span></h1>
            <form action="/cart">
            <button>Add to Cart</button>
            <input type="hidden" name="id" value="<%= i.id %>" >
            </form>
        </div>
        <% } %>
    </div>
    <% } else { %>
        <p>No products found</p>
    <% } %>
</body>
</html>